@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: only dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  /* https://react-tooltip.com/docs/getting-started#styling */
  --rt-color-white: #f1f5f9;
  --rt-color-dark: #020617;
  --rt-color-success: #8dc572;
  --rt-color-error: #be6464;
  --rt-color-warning: #f0ad4e;
  --rt-color-info: #337ab7;
  --rt-opacity: 0.9;
  --rt-transition-show-delay: 0.15s;
  --rt-transition-closing-delay: 0.15s;
}

:focus-visible, :focus + label {
  @apply outline outline-2 outline-purple-500;
  animation: outline-bounce .4s ease-in-out;
}

@keyframes outline-bounce {
  0% {
    outline-width: 0;
  }
  40% {
    outline-width: 6px;
  }
  100% {
    outline-width: 2px;
  }
}
